<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubilose.weixin.mapper.CouponMapper">

	<sql id="BASE_COLUMN">
		code, end_time, price, status
	</sql>

	<insert id="insert" useGeneratedKeys="true"
			keyColumn="id" keyProperty="id">
		INSERT INTO coupon(code, end_time, price, status)
		VALUES (#{code}, #{endTime}, #{price}, 1)
	</insert>

	<insert id="batchInsert" useGeneratedKeys="true"
			keyColumn="id" keyProperty="id">
		INSERT INTO coupon(code, price, end_time, status)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.code}, #{item.price}, #{item.endTime}, 1)
		</foreach>
	</insert>

	<update id="delete" keyColumn="id">
		UPDATE coupon
		SET status = -1
		WHERE id = #{id}
	</update>

	<update id="enable" keyColumn="id">
		UPDATE coupon
		SET status = 1
		WHERE id = #{id}
	</update>

	<resultMap id="BASE_MAP" type="Coupon">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="price" property="price" />
		<result column="end_time" property="endTime" />
		<result column="status" property="status" />
	</resultMap>

	<select id="list" resultType="java.util.List" resultMap="BASE_MAP">
		SELECT id, <include refid="BASE_COLUMN" />
		FROM coupon
        LIMIT #{startIndex}, #{pageSize}
	</select>

	<select id="getById" resultMap="BASE_MAP" resultType="Coupon">
		SELECT id, <include refid="BASE_COLUMN" />
		FROM coupon
		WHERE id = #{id}
	</select>

	<select id="getByCode" resultMap="BASE_MAP" resultType="Coupon">
		SELECT id, <include refid="BASE_COLUMN" />
		FROM coupon
		WHERE code = #{code}
	</select>

	<select id="listByIdOrCode" resultType="java.util.List" resultMap="BASE_MAP">
		SELECT id, <include refid="BASE_COLUMN" />
		FROM coupon
		WHERE CONCAT(id, code) LIKE #{params}
	</select>


	<select id="exportCodes" resultType="java.util.List" resultMap="BASE_MAP">
		SELECT id, <include refid="BASE_COLUMN" />
        FROM coupon
	</select>

	<update id="updateStatus" keyColumn="id">
		UPDATE coupon
		SET status = #{status}
		WHERE id = #{id}
	</update>

	<resultMap id="countByStatusResultMap" type="java.util.Map">
		<result column="status" property="status" javaType="java.lang.Integer"/>
		<result column="count" property="count" javaType="java.lang.Integer"/>
	</resultMap>

	<select id="countByStatus" parameterType="java.util.List" resultMap="countByStatusResultMap">
		SELECT
			status,
			count(*) AS count
		FROM coupon
		GROUP BY status
	</select>

</mapper>