<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubilose.weixin.mapper.UserCouponMapper">

    <sql id="BASE_COLUMN">
		user_id, coupon_id, logistics_number, get_time, delivery_time
	</sql>

    <resultMap id="BASE_MAP" type="User">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="logistics_number" property="logisticsNumber"/>
        <result column="get_time" property="getTime"/>
        <result column="delivery_time" property="deliveryTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        INSERT INTO user_coupon(user_id, coupon_id)
        VALUES (#{userId}, #{coupon_id})
    </insert>

    <update id="update" keyColumn="id">
        UPDATE user_coupon
        SET logistics_number = #{logisticsNumber},
            delivery_time = now()
        WHERE id = #{id}
    </update>

    <resultMap id="listResultMap" type="java.util.Map">
        <result column="id" property="id" />
        <result column="logistics_number" property="logisticsNumber" />
        <result column="get_time" property="getTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="user_id" property="userId" />
        <result column="w_name" property="wName" />
        <result column="w_img" property="wImg" />
        <result column="coupon_id" property="couponId" />
        <result column="code" property="code" />
        <result column="price" property="price" />
        <result column="user_address_id" property="userAddressId" />
        <result column="address" property="address" />
        <result column="phone_number" property="phoneNumber" />
    </resultMap>

    <select id="list" resultType="java.util.List" resultMap="listResultMap">
        SELECT
          t1.id,
          t1.logistics_number,
          t1.get_time,
          t1.delivery_time,
          t1.user_id,
          t2.w_name,
          t2.w_img,
          t1.coupon_id,
          t3.code,
          t3.price,
          t1.user_address_id,
          t4.address,
          t4.phone_number
        FROM user_coupon t1 LEFT JOIN user t2 ON t1.user_id = t2.id
                            LEFT JOIN coupon t3 ON t1.coupon_id = t3.id
                            LEFT JOIN user_address t4 ON t1.user_address_id = t4.id
        WHERE CONCAT(t1.logistics_number, t2.w_name, t3.code, t4.address) LIKE #{keyword}
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getById" resultType="UserCoupon" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user_coupon
        WHERE id = #{id}
    </select>

    <select id="listByUserId" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user_coupon
        WHERE user_id LIKE #{userId}
    </select>

    <select id="listByCouponId" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user_coupon
        WHERE coupon_id LIKE #{couponId}
    </select>

    <select id="listByLogisticsNumber" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user_coupon
        WHERE logistics_number LIKE #{logisticsNumber}
    </select>

</mapper>