<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cubilose.weixin.mapper.UserMapper">

    <sql id="BASE_COLUMN">
		w_id, sex, w_name, w_img, subscribe_time, coupon_size
	</sql>

    <resultMap id="BASE_MAP" type="User">
        <result column="id" property="id"/>
        <result column="w_id" property="wId"/>
        <result column="sex" property="sex"/>
        <result column="w_name" property="wName"/>
        <result column="w_img" property="wImg"/>
        <result column="subscribe_time" property="subscribeTime"/>
        <result column="coupon_size" property="couponSize"/>
    </resultMap>

    <insert id="batchInsert" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        INSERT INTO user(w_id, sex, w_name, w_img, subscribe_time, coupon_size)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.wId}, #{item.sex}, #{item.wName},#{item.wImg},  #{item.subscribeTime}, #{item.couponSize})
        </foreach>
    </insert>

    <select id="list" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN" />
        FROM user
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="getById" resultType="User" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getByWId" resultType="User" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user
        WHERE w_id = #{wId}
    </select>

    <select id="listByWName" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user
        WHERE w_name LIKE #{wName}
    </select>

    <select id="listByNameOrId" resultType="java.util.List" resultMap="BASE_MAP">
        SELECT id, <include refid="BASE_COLUMN"/>
        FROM user
        WHERE CONCAT(w_name, w_id) LIKE #{keyword}
        LIMIT #{start}, #{pageSize}
    </select>

    <update id="increUserCouponSize" parameterType="java.lang.Long">
        UPDATE user
        SET coupon_size = coupon_size + 1
        WHERE id = #{id}
    </update>

</mapper>